body {
    padding: 30px;
    margin: 0;
}

.top-marge {
    margin-top: 20px;
}

.card {
    transition: opacity 1s;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.scroll {
    max-height: 560px;
    overflow-y: auto;
}

#rowErr {
    opacity: 0;
    transition: opacity 1s;
}